<br><br>
<h1 style="text-align: center">About Us</h1>

<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 25px;text-align: center;line-height: 1.5">
  Online hotel reservations are popular method for booking hotel rooms.
  Travelers can book rooms on a computer by using online security to protect 
  their privacy and financial information and by using several online 
  travel agents to compare prices and facilities at different hotels.
</p>
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 25px;text-align: center;line-height: 1.5">  
Prior to internet, travelers could write ,telephone the hotel directly or use a travel agent to make 
a reservations.Nowadays ,online travel agents have pictures of hotels and rooms,information 
on prices and deals and even information on local resorts.Many also allow reviews
of the traveler to be recorded with the online travel agent.
</p>
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 25px;text-align: center;line-height: 1.5">
  Online hotel reservations are also helpful for making last minute travel arrangements.Hotels
  may drop the prices of room if some rooms are still available. 
</p>
<img src="/assets/l2.jpeg" style="height: 400px;width: 500px; position: relative; left: 37%;">
