
<div class="login-box">

  <h1 style="font-size: 40px;">HOTEL REGISTER</h1>
  
  <form>
      <p style="font-size: 25px">Hotel Name:</p>
        <input type="text"  name="hotelname" placeholder="Enter Hotel Name" id="txt1">	
        <span id="spn" style="color:red"></span>	
       
        <p style="font-size: 25px">Address:</p>
        <input type="text"  name="address" placeholder="Enter Hotel Address" id="txt2">	
        <span id="spn" style="color:red"></span>
      
        <p style="font-size: 25px">City:</p>
        <input type="text"  name="city" placeholder="Enter City" id="txt3">	
        <span id="spn" style="color:red"></span>
      
        <p style="font-size: 25px">State:</p>
        <input type="text"  name="state" placeholder="Enter City" id="txt4">	
        <span id="spn" style="color:red"></span>
        
        <p style="font-size: 25px">Pin Code:</p>
        <input type="number"  name="pincode" placeholder="Enter Pin Code" id="txt5">	
        <span id="spn" style="color:red"></span>

        <p style="font-size: 25px">Landline Number:</p>
        <input type="phone"  name="landline" placeholder="Enter Landline Number" id="txt6">	
        <span id="spn" style="color:red"></span>
        
      <p style="font-size: 25px">Hotel Mail-Id:</p>
      <input type="email"  name="email" placeholder="Enter Email" id="email">
      <span id="spn1" style="color:red"></span>

      <p style="font-size: 25px">Website:</p>
      <input type="text"  name="website" placeholder="Enter Website" id="txt7">	
      <span id="spn" style="color:red"></span>
  
      <p style="font-size: 25px">Features:</p>
      <input type="text"  name="features" placeholder="Enter Features" id="txt8">	
      <span id="spn" style="color:red"></span>

          <input type="button" name="submit" value="Submit" onclick="myfunction()"> 
  </form>
</div>
