
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    /* body{
        background: url("abc.jpg");
         background-size: cover; 
        font-family: Arial, Helvetica, sans-serif;
        color:white;
    } */
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }
.div1{
    float: left;
    background-color: black;
    padding-bottom: 18px ;
    border-radius: 30px;
    position: relative;
    left: 70px;
     opacity: .9;
     height: 800px;
     width: 600px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li{
    float: right;
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover{
    background-color: green;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
div{
    font-size: 22px;
}