<div class="a">
<div class="div1">

<div class="login-box">
  <p style="color:red;font-size: 20px;position: absolute"> {{msg}}</p>
  <h1 style="font-size: 40px;">RESERVATION</h1>
  
  <form #myForm="ngForm" (ngSubmit)="book(myForm)" role="form">
   
      <p style="font-size: 25px">Check In date:</p>
      <input type="date" ngModel name="dateFrom" placeholder="Enter Check in date" id="email">
      <span id="spn1" style="color:red"></span>

      <p style="font-size: 25px">Check Out date:</p>
      <input type="date" ngModel name="dateTo" placeholder="Enter Check Out date" id="email">
      <span id="spn1" style="color:red"></span>
 
      <p style="font-size: 25px">Number of adults:</p>
      <input type="number" ngModel name="noOfAdults" placeholder="Enter Number of adults" id="email">
      <span id="spn1" style="color:red"></span>


      <p style="font-size: 25px">Number of childrens:</p>
      <input type="number" ngModel name="noOfChild" placeholder="Enter Number of childrens" id="email">
      <span id="spn1" style="color:red"></span>

      <input type="number" ngModel name="user" hidden>
      <input type="number" ngModel name="room" hidden>
         <br><br> <input type="submit" class="btn btn-primary" name="submit" value="Book"> 
  <br>
  </form>
</div>

</div>
</div>