
<div class="a">
<div class="div1">
<div class="login-box">
<h1 style="font-size: 40px;">RESET PASSWORD</h1>
<br><br>
<form #myForm="ngForm" (ngSubmit)="confirmPassword(myForm)" role="form">
    <p style="font-size: 25px">New Password:</p>
      <input type="password" ngModel  name="password" required="required" placeholder="Enter New Password" id="pwd1">	
      <span id="spn" style="color:red"></span>	
  <br><br>
    <p style="font-size: 25px">Confirm Password:</p>
      <input type="password" ngModel name="confirmpassword" required="required" placeholder="Confirm Password" id="pwd2">
      <span id="spn1" style="color:red"></span><br><br>		<br>
      <input type="email" ngModel name="email" hidden>
        <input type="submit" name="submit" value="Change Password"> 
  
</form>
</div>
</div>
</div>