<div class="a">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="card">
      <br><br>
        <img src="/assets/index.png" alt="John" style="width:35%;position: relative;left: 32%;">
        <br><br>
        <h1>{{name}}</h1>
        <p style="font-size: 30px" class="title">{{role}}</p>
        <p style="font-size: 20px">{{email}}</p>
        <p style="font-size: 20px">{{phone}}</p>
        <p style="display:inline">
        <a href="#"><i class="fa fa-dribbble"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fa fa-facebook"></i></a>
      </p>
        <p><button>Contact</button></p>
      </div>
    </div>